div#mainMenu{
  display: flex;
  height: 54px;
  line-height: 54px;
}
div#mainMenu>img{
  width: auto;
  height: 52px;
  margin-top: 1px;
}
div#mainMenu>span{
  font-size: 20pt;
}
@media (max-width: 600px){
  div#mainMenu{
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  div#mainMenu>img{
    margin-left: -18px;
  }
}