form#bookForm{
  padding: 10px;
  display: flex;
  width: 600px;
  margin: 0 auto;
  flex-direction: column;
}
form#bookForm>h1{
  text-align: center;
  font-size: 30pt;
}
form#bookForm>h1>img{
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
form#bookForm>label{
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 14pt;
}
form#bookForm>label>input{
  width: 100%;
  height: 35px;
  font-size: 13pt;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-left: -5px;
  border-radius: 5px;
  border: 0px;
  outline: none;
}
form#bookForm>button{
  margin-top: 10px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  color: #EEE;
  font-size: 12pt;
  font-weight: bolder;
  background-color: rgb(131, 130, 130);
  cursor: pointer;
  outline: none;
}
form#bookForm>button:hover{
  color: #DDD;
  background-color: #555;
}
form#bookForm>button:focus{
  background-color: #444;
}

@media(max-width: 600px){
  form#bookForm{
    width: 100%;
  }
}