div#notFound{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    margin-top: -50px;
}
div#notFound>img{
    width: 300px;
    height: 300px;
}
div#notFound>h1{
    margin: 0px;
    font-size: 40pt;
}
div#notFound>a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 6px;
    border-radius: 5px;
}
div#notFound>a:hover{
    color: black;
    background-color: white;
    border-color: black;
}
div#notFound>a:focus{
    background-color: rgb(189, 189, 189);
}